.container {
    height: 100%;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
    display: none;
}

.nav-content {
    --top-offset: calc(var(--nav-height) + 3rem);
    margin: var(--top-offset) var(--side-gap) 0.5rem var(--side-gap);
    min-height: calc(100vh - var(--top-offset));
}

.button {
    padding: 1rem;
}
