:root {
    --nav-height: 5rem;
    --side-gap: 8rem;
    --border-radius: 0.5em;

    --clr-primary-100: #e3e3eb;
    --clr-primary-200: #b6b6ce;
    --clr-primary-300: #8585ad;
    --clr-primary-400: #5a5a87;
    --clr-primary-500: #404060;
    --clr-primary-900: #0d0d13;

    --clr-secondary-100: #f1e6ea;
    --clr-secondary-200: #d6b4c1;
    --clr-secondary-300: #ba8298;
    --clr-secondary-400: #995470;
    --clr-secondary-500: #703e52;

    --clr-accent-500: #F24302;

    --clr-highlight-inv-500: #f0f757;

    --clr-highlight-500: #c89b7b;
}

@media only screen and (max-width: 768px) {
    :root {
        --side-gap: 0.5em;
    }
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* for mobile */
    position: relative;
    margin: 0;
}

body {
    /* font */
    font-family: "Lato", sans-serif;
    color: var(--clr-primary-900);
    /* line-height: 1.5; */
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* bg */
    /* background: var(--clr-primary-100); */
}

p {
    line-height: 1.8;
}

#root {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.my-align {
    text-align: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a:link {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .card {
        --card-width: 100%;
    }
}
@media only screen and (min-width: 769px) {
    .card {
        --card-width: calc(var(--card-size) + 7rem);
        --card-height: var(--card-size);
    }
}
.card {
    --card-size: 15rem;

    width: var(--card-width);
    height: 15em;
    border-radius: var(--border-radius);
    border: 1px solid darkgray;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 0.8rem;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    height: 100%;
    width: 100%;
}
@media only screen and (max-width: 768px) {
    .grid-container {
        gap: 0.2em;
    }
    .card {
        border-radius: 0.2rem;
    }
}

* {
    box-sizing: border-box;
    /* outline: 0.001rem solid yellowgreen; */
}
