.__repo-relative {
    position: relative;
}

.__repo-footer {
    position: relative;
    height: 100%;
    width: 100%;
}

.__repo-language-pill {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-accent-500);
    color: white;
    padding: 0 0.5em;
    border-radius: 0 0.5em;
    font-size: 0.7rem;
    min-width: 4em;
    height: 4em;
    flex-grow: 0;
    position: absolute;
    left:0;
    bottom: 0;
}

.__repo-stars {
    display: flex;
    position: absolute;
    align-items: center;
    gap: 0.3em;
    right: 0;
    top: 0.6em;
}
.__repo-stars > svg {
    width: 1.5em;
    stroke: var(--clr-accent-500);
    fill: var(--clr-highlight-inv-500);
}

.__repo-stars > span {
    font-size: 0.7rem;
    opacity: 0.7;
    font-weight: bold;
}
