.__heading-container {
    display: flex;
    align-items: center;
    gap: 1em;

    border: .2em solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #c43f59, transparent);
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    margin-bottom: 2em;
    padding-bottom: 1em;

}

.__heading-container h2 {
    flex-grow: 1;
    display: block;
    letter-spacing: 0.25em;
}

@media only screen and (max-width: 768px) {
    .__heading-container {
        margin-bottom: 1rem;
        padding-bottom: 0.7rem;
        border: .1em solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to right, #c43f59, transparent);
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
    }
}

.__heading-pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.1em;
}

.__heading-pages-current {
    font-size: 1.3em;
    font-weight: bold;
    min-width: 2em;
    text-align: center;
}

.__heading-pages-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    width: 3em;
    height: 3em;
    padding: 0.5em 0.7em;
    fill: var(--clr-secondary-400);
    cursor: pointer;
}

.__heading-pages-button:hover{
    background-color:  var(--clr-primary-100);
}